html
{
  background-color: #8912BB;
  position: absolute;
  min-width: 100%;
}

.page
{
  width: 100%;
  padding-top: 7%;
}

h1
{
  font-family: Times;
  color: white;
  font-size: 124px;
  text-align: center;
  margin-top: -50px;
}

.md
{
  position: relative;
  background-color: white;
  width: 600px;
  height: 350px;
  margin-left: 620px;
  border-radius: 50px;
  border: 2px solid black;
  margin: auto;
}

.yo
{
  margin: 40px;
  text-align: center;
  font-size: 30px;
}

.hi
{
  color: white;
  font-family: times;
  font-size: 72px;
  text-align: center;
  margin-top: -15px;
}

.git
{
  position: relative;
  width: 150px;
  margin: auto;
}

.link
{
  position: relative;
  width: 150px;
  margin: auto;
}

.links{
  max-width: 304px;
  margin: auto;
  padding: 50px;
}
